version: "3.9"

services:
  backend:
    build: ./backend
    container_name: backend
    restart: always
    stop_signal: SIGINT
    privileged: true
    devices:
      - "/dev/ttyUSB0:/dev/ttyUSB0"
      - "/dev/video0:/dev/video0"
      - "/dev/video1:/dev/video1"
    environment:
      - CAMERA_INDEX=0
      - SERIAL_PORT=/dev/ttyUSB0
      - PYTHONUNBUFFERED=1 # Рекомендуется для моментального вывода логов Django
    expose:
      - "8000"

  frontend:
    build: ./frontend
    container_name: frontend
    ports:
      - "80:80"
    depends_on:
      - backend
    restart: always
