version: "3.9"

services:
  backend:
    build: ./backend
    container_name: backend
    restart: always
    # Используем group_add, чтобы у бесправного пользователя из Dockerfile 
    # был доступ к камере и USB (группы 20 и 44 обычно соответствуют dialout и video)
    stop_signal: SIGINT
    privileged: true
    group_add:
      - dialout
      - video
    devices:
      - "/dev/ttyUSB0:/dev/ttyUSB0"
      - "/dev/video0:/dev/video0
      - "/dev/video1:/dev/video1"
    environment:
      - CAMERA_INDEX=0
      - SERIAL_PORT=/dev/ttyUSB0
    expose:
      - "8000"

  frontend:
    build: ./frontend
    container_name: frontend
    ports:
      - "80:80"
    depends_on:
      - backend
    restart: always
