#root {
  margin: 0;
  padding: 0;

  text-align: center;

  display: flex;
  flex-direction: column;
  justify-content: center;

  overflow:hidden !important;

  width: 100%;
}

html {
  scroll-behavior: smooth;
  overflow-x:hidden !important;

  align-items: center;
  justify-content: center !important;

  width: 100%;
}

body{
  display: flex;
  -overflow-x: hidden !important;
  overflow: hidden;
  
  justify-content: center;
}

html, body {
  overflow-x: hidden !important;
  position: relative;
}

*{ transition:  0.5s ease !important; }

.delimeter{
  margin: 20px 0;
  color:#242424;
}

header{
  background:#393939;

  position: absolute;
  top: 0%;

  display: flex;
  align-items: center;

  padding: 25px; border:none;

  width: 100%;
}
header *{ padding: 0 10px; }

#localization {
  position: absolute;
  right: 10%; /* постоянный отступ от правого края родителя */
  top: 50%;    /* если нужно по вертикали центрировать */
  transform: translateY(-50%); /* чтобы центр точно совпадал */
}
#localization *{ cursor: pointer; }

#main-container{
  display: flex;
  flex-direction: column;
  justify-content: center;https://loggysgit.github.io/DSC-Greenhouse/
}
#main-container p{
  display: block;
  width: 80%;
  overflow-wrap:break-word;
  padding: 5px; margin: 0 auto;
  font-size: 18px;
}
#main-container h2{ font-size: 30px; }
#main-container h3{ font-size: 20px; }
#main-container div{ justify-content: center; }

#parameters{
  background: #2d2d2d;;

  border-radius: 15px;

  width: 80%;

  padding: 5px;
  margin: 10px 0 auto;
}
#parameters *{
  margin: 20px !important;
}
#content-container{
  display: flex;
  flex-direction: row;

  justify-content: center;
  align-items: center;
}
#content-container *{
  margin: 0 auto;
}
#stream-window{
  background: #2d2d2d;

  border-radius: 15px;

  margin:10px;
  padding: 15px;

  width: 720px;
  height: 480px;
}

.info-piece{
  margin: 25px;
}

#authors-container{
  display: flex;

  align-items: center;
  justify-content: center;

  gap: 10px;
}

#burger-menu-btn{
  display: none;
}
#burger-menu {
  position: fixed;
  top: 0;
  left: 0;

  width: 40dvw;
  height: 100dvh;

  background-color: #2a2a2a;
  padding: 20px;

  display: flex;
  flex-direction: column;
  gap: 20px;

  transform: translateX(-100%);

  z-index: 1000;
}
#burger-menu.open {
  transform: translateX(0);
}

#burger-menu *{
  padding: 10px;
}
#burger-menu button{ width: 20%; margin: 10px}

#participants-viewport {
  width: 63%;
  overflow: hidden;
  position: relative;
}
#participants {
  display: flex;
  transition: transform 0.5s ease;
  width: max-content;
}
#participants *{
  margin:10px;
}
.participant-card{
  padding: 10px;
  background-color: #2d2d2d;
  border-radius: 15px;
  width: 350px;
  height: 420px;
}
.participant-card img{
  width:60%;
  height: 70%;
  border-radius: 10px;
}
.participant-card:hover{
  transform: scale(1.02);
  background-color: #323232;
}

#scroll-btns{ display:none; }
#scroll-btns *{
  margin: 10px;
  text-align: center;
  width: 46px; height: 46px;
  padding: 2px;
}

#sponsors-container{
  display: flex;
}
.sponsor-card{
  display: flex;
  justify-content: center; align-items: center;

  border-radius: 15px;

  background-color: #2d2d2d;

  margin: 25px;
  padding: 20px;

  width: 40%;
}
.sponsor-card img{
  height: 100px;
  padding: 0 30px;
}
.sponsor-card h3{
  cursor: pointer;
}
.sponsor-card div{
  display: flex; 
  flex-direction: column; justify-content: center;

  margin: 0 auto;
  width: 100%;
}
.sponsor-card:hover{
  transform: scale(1.05) !important;
  background-color: #373737 !important
}
#scaled-card{
  transform: scale(1.05);
}
#scaled-card:hover{ background-color: #2d2d2d; }
.spacer-card{
  -display: none;
  background-color: transparent !important; 
}

#support-refs *{
  padding: 15px;
  margin: 15px;
  width: 20%;
}

#contacts-container{
  display: flex;
  background-color: #2d2d2d;
  padding: 20px;
  -margin: 0 auto;
}
.contact-block{
  width: 50%;
}
#cb-1{ text-align: right; }
#cb-2{ text-align: left;  }

footer{
  display: flex;
  background-color: #393939;
  -margin: 0 auto !important;
  padding: 15px;
}
footer p{
  width: 100%;
  text-align: center;
}

@media (max-width:768px) {  
  #main-container p{
    font-size: 14px;
  }

  #participants-viewport { 
    width: 70%; 
    overflow: hidden; position: relative; 
  } 
    
  #content-container{ 
    display: flex; 
    flex-direction: column; 
  } 
  #anchors{ 
    display: none !important; 
  } 
  #burger-menu-btn{ 
    display: flex !important;
    justify-content: center; align-items: center;
    width: 44px; height: 44px;
    padding: 2px;
  }
  #main-container h1{ font-size: 40px; }

  .participant-card{
    padding: 10px;

    background-color: #2d2d2d;
    border-radius: 15px;

    width: 200px;
    height: 300px;
  }
  .participant-card img{
    width:57%;
    height: 52%;
  }

  #scroll-btns{
    display: flex;
    justify-content: center; align-items: center;
    width: 99%;
  }

  #sponsors-container{ 
    flex-direction: column;
    justify-content: center; align-items: center; 
  } 
  .sponsor-card{
    flex-direction: column;
    border-radius: 15px;
    width: 70%;
  }

  #support-refs{
    display: flex; flex-direction: column;
    justify-content: center; align-items: center;
  }
  #support-refs *{
    width: 80%;
  }

  .contact-block p, p a{
    font-size: 13px !important;
  }

  #stream-window{ 
    width: 280px !important; height: 186px !important; 
  } 
}
